.divFooter{
    background-color: dimgray;
    margin-bottom: 30px;
}

.divHr{
    margin-top: 30px;
}

.card1{
    margin-left: 50px;
    text-align: center;
}

.card4{
    margin-right: 40px;
    text-align: center;
}
h5{
    color: lightgray;
}
