<div class="divFooter">
        <hr class="divHr">
        <div class="row">
            <div class="col-sm-3">
              <div class="card1">
                    <h5>Quienes Somos</h5>
                    <p>Some example text 1</p>
                    <p>Some example text 2</p>
                    <p>Some example text 3</p>
              </div>
            </div>
            <div class="col-sm-3">
            <div class="card1">
                    <h5>Contacto</h5>
                    <p>Some example text 1</p>
                    <p>Some example text 2</p>
                    <p>Some example text 3</p>
            </div>
            </div>
            <div class="col-sm-3">
              <div class="card1">  
                    <h5>Portafolio</h5>
                    <p>Some example text 1</p>
                    <p>Some example text 2</p>
                    <p>Some example text 3</p>
              </div>
            </div>
            <div class="col-sm-3">
                <div class="card4">
                    <h5>Empleo</h5>
                    <p>Some example text 1</p>
                    <p>Some example text 2</p>
                    <p>Some example text 3</p>
                </div>
            </div>
        </div>
</div>
