<div class="row" class="MarginDiv">
    <div class="col-sm-12">
    <img src="https://firebasestorage.googleapis.com/v0/b/heroesapp-c05f5.appspot.com/o/money003%20(1).jpg?alt=media&token=377c8d34-939c-4645-8fdc-5be5fdbc86d6" 
         class="rounded-circle" class="MarginImg" alt="moneyChange" width="200" height="200"> 
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <h5 class="styleH4-1"> Money Exchange USD</h5>
    </div>
    <div class="col-sm-3">
        <h5 class="styleH4-2"> Money Exchange EU</h5>
    </div>
    <div class="col-sm-3">
        <h5 class="styleH4-3"> Money Exchange AMD</h5>
    </div>
    <div class="col-sm-3">
        <h5 class="styleH4-4"> Money Exchange ARS</h5>
    </div>
</div>
