.MarginDiv{
    margin-top: 5px;
    margin-bottom: 5px;
}
.MarginImg{
    margin-left: 440px;
}
.styleH4-1{
    text-align: right;
}
.styleH4-2{
    text-align: center;
}
.styleH4-3{
    text-align: center;
}
.styleH4-4{
    text-align: left;
}
